.detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background: linear-gradient(to right, rgb(0, 1, 68),#003253);
    border-radius: 12px;
    height: auto;
    margin-bottom: 40px;
}

.detail-img img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.detail-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    height: auto;
}

.detail-info p {
    background-color: rgb(5, 5, 51);
    padding: 8px;
    border-radius: 12px;
}

@media screen and (max-width: 790px){
    .detail {
        border-radius: 0px;
    }
}