.container-profile * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-profile {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.profile {
    background: linear-gradient(to right, #00123a, #10092e, #020c20);
    border-radius: 12px;
    width: 70%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.container-info {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.container-img {
    width: 20%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.container-change-img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-img {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 0 8px;
    gap: 10px;
    background-color: #ffffff;
    border: 3px solid #2a8d00;
    color: #1c5e00;
    border-radius: 8px;
    cursor: pointer;
}

.change-img:hover {
    border: 3px solid #ffffff;
    background-color: #3d8a1d;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.container-user {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-info-user {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.profile-info-user p {
}

.container-profile p {
    width: 100%;
    background-color: #001748;
    border-radius: 8px;
    padding: 8px;
}

@media screen and (max-width: 790px) {
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .container-info {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .container-img {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    .container-user {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .profile-info p, .profile-info-user p {
        overflow: overlay;
        
    }

    .profile-info p::-webkit-scrollbar, .profile-info-user p::-webkit-scrollbar {
        height: 5px;
    }

    .container-profile .profile h2 {
        font-size: 24px;
    }
}