.container-profile * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-profile {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.profile {
    background: linear-gradient(to right, #00123a, #10092e, #020c20);
    border-radius: 12px;
    width: 70%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.container-info {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.boton-avatar input {
    display: none;
}

.boton-avatar label {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.fa-image {
    font-size: 24px;
    color: #fff;
}

.perfil-usuario-header {
    width: 70%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#B873FF, transparent);
    margin-bottom: 1.25rem;
}

.perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 13rem;
    background-image: linear-gradient(45deg, #7718aa, #1351b6);
    border-radius: 0 0 20px 20px;
}

.perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}

.perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

.perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background: linear-gradient(45deg, #BC3CFF, #317FFF);
    background-clip: text;
    display: inline-block;
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-user {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.profile-info-user {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.profile-info-user p {
}

.container-profile p {
    width: 100%;
    background-color: #001748;
    border-radius: 8px;
    padding: 8px;
}

@media screen and (max-width: 790px) {
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .container-info {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }



    .container-user {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .profile-info p, .profile-info-user p {
        overflow: overlay;
        
    }

    .profile-info p::-webkit-scrollbar, .profile-info-user p::-webkit-scrollbar {
        height: 5px;
    }

    .container-profile .profile h2 {
        font-size: 24px;
    }
}