

.Cars{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    gap: 32px;
    align-items: center;
    justify-content: center;
    
}


.Cars a:hover{
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}
