.Series h1{
    text-align: center;
    margin-top: 68px;
    margin-bottom: 24px;
    background: linear-gradient(to right,#000000, #000646,#000000);
    border-radius: 12px;
    width: 40%;
    font-size: 32px;
}

.Series .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-series {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    cursor: text;
}

.alert-series h1 {
    background: linear-gradient(to right,#000000, #A6192E,#000000);
    border-radius: 12px;
}
