.Blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 55px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 12px;
    border-radius: 85px;
}