.alert {
    position: fixed;
    bottom: 30px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    
  }
  
  .alert-default {
    background-color: #333;
  }
  
  .alert-error {
    background-color: #ff5555;
  }
  
  .alert-success {
    background-color: #55cc55;
  }
  
  .alert-warning {
    background-color: #ffcc00;
  }
  
  .alert-info {
    background-color: #3399ff;
  }
  