
.Favorites h1{
    text-align: center;
    margin-bottom: 24px;
    background: linear-gradient(to right,#000000, #000646,#000000);
    border-radius: 12px;
    width: 40%;
    font-size: 32px;
}


.Titulo-Favorites {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Favorites .alert-movie h1{
    background: linear-gradient(to right,#000000, #A6192E,#000000);
    border-radius: 12px;

}

.Favorites .alert-movie {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    cursor: text;
}