
.Favorites h1{
    text-align: center;
    margin-bottom: 24px;
    background: linear-gradient(to right,#000000, #000646,#000000);
    border-radius: 12px;
    width: 40%;
    font-size: 32px;
}


.Titulo-Favorites {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Favorites .alert-movie h1{
    background: linear-gradient(to right,#000000, #A6192E,#000000);
    border-radius: 12px;

}

.Favorites .alert-movie {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    cursor: text;
}


/* Page Favorites */

.Page-Favorites {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-page-Favorites {
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 32px;
    border-radius: 60px;
    background: linear-gradient(-45deg, #270303 10%, #a30707, #270303 90%);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
    
}

.Page-Favorites-titulo {
    background:linear-gradient(to right, transparent 10%, #000000 , transparent 90%);
    padding: 0 12px;
    border-radius: 32px;
    width: 70%;
    animation: gradient 20s ease infinite;
    background-size: 400% 400%;
    font-size: 52px;
    text-align: center;
}

.page-favorites {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(to right, #000000 10%, #a38b04 , #000000 90%); */
    text-align: none;
}

@media screen and (max-width: 790px) {
    .Page-Favorites-titulo {
        width: 100%;
        font-size: 32px;
        padding: 0 20px;
    }
    
}
