
/* Css para el navbar */

/* New style navbar */
.container-navbar * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-navbar {
    width: 100%;
    height: 60px;
    padding: 0px 40px;
    background-color: #00021d;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
