
/* Css para el navbar */

/*
Tiene la siguiente estructura.

    <nav className="navbar">
            <ul>
                {options.map((option) => (
                    <li key={option.value}>
                        <Link to={`/${option.value}`}> {option.label} </Link>
                    </li>
                ))}
            </ul>
        </nav>

*/  
.logout{
    font-size: 25px;
    color: rgb(223, 167, 167);
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
    
}

nav{
    position: fixed;
    z-index: 100;
    background-color: #00021d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0;
    width: 100%;
    
}

i{
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    color: rgba(255, 255, 255, 0.87);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-right: 6rem;
    width: 100%;

}

.logo:hover{
    color: rgba(255, 255, 255, 0.87);
    cursor: pointer;

}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1.7rem;
    transition: all 0.1s ease-in-out;
    width: 70%;
}

nav ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
}


nav ul li a:hover{
    border-bottom: 2px groove rgba(255, 255, 255, 0.87);
    padding-bottom: 3px;
    

}

.navbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-item span{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: all 0.1s ease-in-out;
}

/* quiero que el input salga cuando le de click el boton */

.inputSearch{
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    height: 1.5rem;
    border: none;
    padding-left: 10px;
    outline: none;
    transition: all 0.1s ease-in-out;
    margin-right: 5px;
}

.inputContainer button{
    border: none;
    outline: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.87);
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    margin-right: 1rem;
}

/* Media query para detectar si esta light mode or dark mode */

@media (prefers-color-scheme: dark) {
    nav ul li a{
        color: rgba(255, 255, 255, 0.87);;
    }
}

@media (prefers-color-scheme: light) {
    nav{
        background-color: #fff;
    }
    nav ul li a{
        color: #000;
    }
}