/* Contenedor center*/

.menu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.menu li {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    gap: 4px;
}

.dropdown {
    min-width: 180px;
    max-width: 280px;
    padding: 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 40px;
    border-radius: 8px;
    background-color: #01073f;
    box-shadow: rgba(0,0,0,0.4) 0px 25px 50px -12px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    
}

.menu a{
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    transition: font-size 0.3s;
}

.menu a:hover{
    font-size: 26px; 
}

.menu li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #1753ac;
    transform-origin: bottom center;
    transition: 0.3s ease-out;
}

.menu li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    top: 60px;
}

.dropdown a {
    font-size: 16px;
    padding-bottom: 1px solid #fff;
    border-bottom: none;
}

.dropdown a:hover, .dropdown a:focus {
    font-size: 18px; 
}

@media screen and (max-width: 790px) {
    .container-center {
        display: none;
    }
}