footer {
    
    background-color: #00021d;
    color: #ffff;
    height: 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;
}

.flechaUp {
    font-size: 25px;
}

.soport {
    font-size: 18px;
}

.soport:link {
    color: #ffff;
    text-decoration: none;
}